.LandingPage {
  display: flex;
  flex-direction: column;
}

.LandingPageTitle {
  height: 10rem;
  border: 1px solid black;
}

.Dropdown {
  display: flex;
  justify-content: center;
}

.DF {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 1rem;
}
